.rating {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    gap: 2px;
    &-score {
        display: flex;
        gap: 4px;
        &-stars {
            display: flex;
            gap: 2px;
        }
        &-value {
            font-size: 16px;
        }
    }
    &-reviews {
        font-size: 12px;
        font-weight: 300;
        color: #a5acb6;
    }
}