.text {
    font-weight: 400;

    // Size
    &[data-size="S"] {
        font-size: var(--font-size-300);
        font-weight: var(--font-weight-400);
    }
    &[data-size="M"] {
        font-size: var(--font-size-400);
        font-weight: var(--font-weight-400);
    }
    &[data-size="L"] {
        font-size: var(--font-size-500);
        font-weight: var(--font-weight-100);
    }
}

[data-theme="light"] {
    .text {
        &[data-status="default"] {
            color: var(--text-color-100)
        }
        &[data-status="success"] {
            color: var(--success-color-400)
        }
        &[data-status="fail"] {
            color: var(--fail-color-400)
        }
        &[data-status="warning"] {
            color: var(--warning-color-400)
        }
        &[data-status="info"] {
            color: var(--info-color-400)
        }
    }
}

[data-theme="dark"] {
    .text {
        &[data-status="default"] {
            color: var(--text-color-950)
        }
        &[data-status="success"] {
            color: var(--success-color-400)
        }
        &[data-status="fail"] {
            color: var(--fail-color-400)
        }
        &[data-status="warning"] {
            color: var(--warning-color-400)
        }
        &[data-status="info"] {
            color: var(--info-color-400)
        }
    }
}