.profile {
    position: relative;
    &-button {
        display: inline-flex;
        align-items: center;
        padding: var(--profile-button-padding, var(--padding-100, 4px));
        border-radius: var(--profile-button-border-radius, var(--border-radius-100, 4px));
        cursor: pointer;
    }
    &-left,
    &-right {
        display: flex;
    }
    &-right {
        flex-direction: column;
        padding: 0 4px;
    }
    &-name {
        font-size: var(--profile-name-font-size, var(--font-size-300, 14px));
        font-weight: var(--profile-name-font-weight, var(--font-weight-500, 500));
        line-height: var(--profile-name-line-height, var(--line-height-200, 1.2));
    }
    &-role {
        font-size: var(--profile-role-font-size, var(--font-size-200, 12px));
        font-weight: var(--profile-role-font-weight, var(--font-weight-400, 400));
        line-height: var(--profile-role-line-height, var(--line-height-200, 1.2));
    }

    &[data-size="small"] {
        .profile-button {
            padding: var(--profile-small-padding, var(--padding-100, 4px));
            gap: var(--profile-small-gap, var(--padding-100, 4px));
            border-radius: var(--profile-small-border-radius, var(--border-radius-200, 8px));
        }
    }
    &[data-size="medium"] {
        .profile-button {
            padding: var(--profile-medium-padding, var(--padding-100, 4px));
            gap: var(--profile-medium-gap, var(--padding-100, 4px));
            border-radius: var(--profile-medium-border-radius, var(--border-radius-200, 8px))
        }
    }
    &[data-size="large"] {
        .profile-button {
            padding: var(--profile-large-padding, var(--padding-100, 4px));
            gap: var(--profile-large-gap, var(--padding-100, 4px));
            border-radius: var(--profile-large-border-radius, var(--border-radius-200, 8px))
        }
    }

    &-dropdown {
        position: absolute;
        right: 0;
        top: calc(100% + 4px);
        border-radius: var(--dropdown-border-radius, var(--border-radius-200, 8px));
        min-width: 200px;
        z-index: 9;
        &-item {
            width: 100%;
        }
        ul {
            list-style: none;
            margin: 0;
            padding: 12px;
            a,
            button {
                display: block;
                width: 100%;
                padding: 12px 16px;
                color: #fff;
                font-family: "Roboto", sans-serif;
                font-weight: var(--font-weight-400, 400);
                border-radius: 4px;
                text-align: left;
                cursor: pointer;
                &:hover {
                    background-color: var(--dropdown-item-background-hover, var(--background-color-900));
                    color: #fff;
                }
            }
            li:last-child {
                &:before {
                    content: "";
                    display: inline-block;
                    width: 100%;
                    height: 1px;
                    background: #4D5153 var(--);
                    margin: 5px 0;
                }
            }
        }
    }
}

[data-theme="light"] .profile {
    &-button {
        background-color: var(--profile-light-background-default, var(--background-color-150, #F0F2F4));
        &:not(:disabled):hover {
            background-color: var(--profile-light-background-hover, var(--background-color-200, #E1E6E9));
        }
        & .profile-name {
            color: var(--profile-name-light-text-color, var(--text-color-150, #282828));
        }
        & .profile-role {
            color: var(--profile-role-light-text-color, var(--text-color-600, #959595));
        }
    }
    &[aria-expanded="true"] .profile-button {
        background-color: var(--profile-light-background-select, var(--background-color-200, #E1E6E9));
    }
    &-dropdown {
        background-color: var(--dropdown-light-background-color, var(--background-color-100, #ffffff));
        border: 1px solid var(--dropdown-light-border-color, var(--background-color-150, #F0F2F4));
        li:last-child {
            &:before {
                background: var(--dropdown-light-item-separator, var(--background-color-300, #C4CCD0));
            }
        }
        a, button {
            background-color: var(--dropdown-light-item-background-default, var(--background-color-100, #ffffff));
            color: var(--dropdown-light-item-text-default, var(--text-color-100, #181818));
            &:hover {
                background-color: var(--dropdown-light-item-background-hover, var(--background-color-150, #F0F2F4));
                color: var(--dropdown-light-item-text-hover, var(--text-color-100, #181818));
            }
        }
    }
}

[data-theme="dark"] .profile {    
    &-button {
        background-color: var(--profile-dark-background-default, var(--background-color-900, #2E2F30));
        &:not(:disabled):hover {
            background-color: var(--profile-dark-background-hover, var(--background-color-850, #343738));
        }
        & .profile-name {
            color: var(--profile-name-dark-text-color, var(--text-color-950, #ffffff));
        }
        & .profile-role {
            color: var(--profile-role-dark-text-color, var(--text-color-600, #959595));
        }
    }
    &[aria-expanded="true"] .profile-button {
        background-color: var(--profile-dark-background-select, var(--background-color-850, #343738));
    }
    &-dropdown {
        background-color: var(--dropdown-dark-background-color, var(--background-color-950, #242424));
        border: 1px solid var(--dropdown-dark-border-color, var(--background-color-900, #2E2F30));
        li:last-child {
            &:before {
                background: var(--dropdown-dark-item-separator, var(--background-color-800, #4D5153));
            }
        }
        a, button {
            background-color: var(--dropdown-dark-item-background-default, var(--background-color-950, #242424));
            color: var(--dropdown-dark-item-text-default, var(--text-color-950, #ffffff));
            &:hover {
                background-color: var(--dropdown-dark-item-background-hover, var(--background-color-900, #2E2F30));
                color: var(--dropdown-dark-item-text-hover, var(--text-color-950, #ffffff));
            }
        }
    }
}

