.checkbox {
    display: block;
    position: relative;
    font-size: 16px;
    padding-left: 28px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &_input {
        position: absolute;
        opacity: 0;
        height: 0;
        width: 0;
        cursor: pointer;
    }

    &_checkmark {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        background-color: #eee;

        &:after {
            content: "";
            position: absolute;
            display: none;
        }
    }

    &_input:checked~&_checkmark:after,
    &_input[data-state="indeterminate"]~&_checkmark:after {
        display: block;
    }

    &_input[data-state="indeterminate"]~&_checkmark:after {
        background-color: var(--background-color-300, #1c6bba);
    }

    &_checkmark:after {
        left: 50%;
        top: 50%;
        background-color: var(--accent-color, #1c6bba);
        transform: translate(-50%, -50%);
    }

    &[data-size="L"] {
        .checkbox_checkmark {
            width: var(--checkbox-l-width, var(--size-600, 24px));
            height: var(--checkbox-l-height, var(--size-600, 24px));
            border-radius: var(--checkbox-l-border-radius, var(--size-200, 8px));

            &:after {
                width: calc(var(--checkbox-l-width, var(--size-600, 24px)) / 2);
                height: calc(var(--checkbox-l-height, var(--size-600, 24px)) / 2);
                border-radius: calc(var(--checkbox-l-border-radius, var(--size-200, 8px)) / 2);
            }
        }
        .checkbox_input[data-state="indeterminate"] {
            &~.checkbox_checkmark {
                &:after {
                    height: 6px;
                }
            }
        }
    }

    &[data-size="M"] {
        .checkbox_checkmark {
            width: var(--checkbox-m-width, var(--size-500, 20px));
            height: var(--checkbox-m-height, var(--size-500, 20px));
            border-radius: var(--checkbox-m-border-radius, var(--size-100, 4px));

            &:after {
                width: calc(var(--checkbox-m-width, var(--size-500, 20px)) / 2);
                height: calc(var(--checkbox-m-height, var(--size-500, 20px)) / 2);
                border-radius: calc(var(--checkbox-m-border-radius, var(--size-100, 4px)) / 2);
            }
        }
        .checkbox_input[data-state="indeterminate"] {
            &~.checkbox_checkmark {
                &:after {
                    height: 4px;
                }
            }
        }
    }

    &[data-size="S"] {
        .checkbox_checkmark {
            width: var(--checkbox-s-width, var(--size-400, 16px));
            height: var(--checkbox-s-height, var(--size-400, 16px));
            border-radius: var(--checkbox-s-border-radius, var(--size-050, 2px));

            &:after {
                width: calc(var(--checkbox-s-width, var(--size-400, 16px)) / 2);
                height: calc(var(--checkbox-s-height, var(--size-400, 16px)) / 2);
                border-radius: calc(var(--checkbox-s-border-radius, var(--size-050, 2px)) / 2);
            }
        }
        .checkbox_input[data-state="indeterminate"] {
            &~.checkbox_checkmark {
                &:after {
                    height: 2px;
                }
            }
        }
    }

    &:focus,
    &[data-focus="true"] {
        &:before {
            content: "";
            position: absolute;
            inset: -4px;
            border-color: var(--input-border-color-focus, var(--accent-color-400, #1C6BBA));
            border-width: 1px;
            border-style: solid;
            border-radius: 6px;
            z-index: -1;
        }
    }

}

[data-theme="light"] .checkbox {
    .checkbox_checkmark {
        background-color: var(--checkbox-light-outer-background-default, var(--background-color-150, #F0F2F4));
    }

    &:hover {
        .checkbox_checkmark {
            background-color: var(--checkbox-light-outer-background-hover, var(--background-color-200, #F0F2F4));
        }
    }
}

[data-theme="dark"] .checkbox {
    .checkbox_checkmark {
        background-color: var(--checkbox-dark-outer-background-default, var(--background-color-900, #2E2F30));
    }

    &:hover {
        .checkbox_checkmark {
            background-color: var(--checkbox-dark-outer-background-hover, var(--background-color-850, #2E2F30));
        }
    }
}

.table-head {
    .checkbox {
        .checkbox_checkmark { 
            background-color: var(--checkbox-light-outer-background-default, var(--background-color-200, #F0F2F4));
        }
    }
}