.table {
    width: 100%;
    padding: var(--table-padding, var(--padding-300, 12px));
    border-radius: var(--table-border-radius, var(--border-radius-300, 12px))
}

.row-disabled {
    background-color: #292929;
}

.table-row-children {
    margin: -16px;
}

[data-theme="light"] {
    .table {
        background-color: var(--table-light-background-color, var(--background-color-100, #ffffff));
    }
}
[data-theme="dark"] {
    .table {
        background-color: var(--table-dark-background-color, var(--background-color-950, #242424));
    }
}