.table-row {
    position: relative;
    display: flex;
    flex: 1 0 auto;
    overflow-x: hidden;
    & + & {
        border-top-width: var(--border-width-100);
        border-top-style: solid;
    }
}

[data-theme="light"] .table-row + .table-row {
    border-top-color: var(--table-row-light-separator-color, var(--border-color-100))
}

[data-theme="dark"] .table-row + .table-row {
    border-top-color: var(--table-row-dark-separator-color, var(--border-color-900))
}