.menu-dropdown {
    display: flex;
    position: absolute;
    top: 0;
    left: calc(100% + 20px);
    bottom: 0;

    opacity: 0;
    transition: left 0.5s ease-in-out, opacity 0.5s ease-in-out;
    &[data-show="true"] {
        left: 0;
        opacity: 1;
    }
}

[data-theme="light"] .menu-dropdown {
    background-color: var(--menu-dropdown-light-background, var(--background-color-100, #ffffff));
}

[data-theme="dark"] .menu-dropdown {
    background-color: var(--menu-dropdown-dark-background, var(--background-color-950, #242424));
}
